.vscode/**
.vscode-test/**
src/**
test/**
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
.gitignore
.eslintrc*
eslint.config.*
.prettierrc*
esbuild.config.*
.mocharc.json
tsconfig.json
.context/**
**/*.vsix
